/* Set Up CSS styles */
:root {
    --primary-color: 	#356696;
    --secondary-color: 	#f16e00;
    --tertiary-color: #9ed7ce;
  }
  
/* defining background image */
body {
  /* Photo by Corina Rainer on Unsplash */
  background-image: url("./Images/corina-rainer-P2wLo_PzHjU-unsplash.jpg"); 
  background-size: cover;
}

  /* apply styles to Header */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    z-index: 999;
  }
